<div class="material-alert {{ type }}" role="alert">
    <button type="button" class="close-alert" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div>{{ message|raw }}</div>
    </div>
</div>
