@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header-nav{
    @apply bg-white fixed w-full z-10 top-0 shadow;
}

.header-nav-top{
    @apply w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0;
}

.header-nav-bottom{
    @apply w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20;
}

.brand-link{
    @apply text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold;
}
.brand-symbol{
    @apply text-pink-600 pr-3;
}

.header-menu{
    @apply lg:flex flex-1 items-center px-4 md:px-0;
}

.header-menu-item{
    @apply mr-6 my-2 md:my-0;
}

.header-menu-item-a{
    @apply block py-1 md:py-3 pl-1 align-middle no-underline text-gray-900 border-b-2 border-white text-gray-900 hover:border-pink-600 hover:text-pink-600;
}

.header-menu-item-a-active{
    @apply text-pink-600 hover:text-gray-900 hover:border-gray-900;
}

.header-menu-item-text{
    @apply pb-1 md:pb-0 text-sm;
}

.main{
    margin:80px 10px 0 10px;
}

.side-block{
    @apply bg-gray-100 m-1 p-1;
}

.page-sub-title{
    @apply font-bold text-2xl;
}

.page-title{
    @apply font-bold text-4xl;
}

.row{
    @apply flex flex-wrap;
}

.form-label{
    @apply block;
}

.input-group{
    @apply focus:outline-none text-sm py-2.5 px-5 rounded-md border text-gray-600 border-gray-600 w-full;
    display: inline-block;
}
.form-input{
    @apply focus:outline-none text-sm py-1.5 px-2.5 rounded-md border text-gray-600 border-gray-600 w-full;
}

.input-group .form-input{
    @apply focus:outline-none border-0 py-0 px-0 w-11-12;
}

.tags-input-wrapper{
    @apply focus:outline-none text-sm py-2.5 px-5 rounded-md border text-gray-600 border-gray-600 w-full;
}

.tags-input-wrapper .tag{
    @apply inline-block bg-gray-50 text-gray-600 rounded-md border p-1.5 m-1;
    /*display: inline-block;*/
    /*background-color: #fa0e7e;*/
    /*color: white;*/
    /*border-radius: 40px;*/
    /*padding: 0px 3px 0px 7px;*/
    /*margin-right: 5px;*/
    /*margin-bottom:5px;*/
}

.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}
.tags-input-wrapper input{
    @apply focus:outline-none text-sm py-2.5 px-5 rounded-md border text-gray-600 border-gray-600;
}

.btn{
    @apply focus:outline-none text-sm py-1.5 px-2.5 m-0.5 rounded-md border;
}
.btn-default{
    @apply text-gray-600 border-gray-600 hover:bg-gray-50;
}
.btn-primary{
    @apply text-green-600 border-green-600 hover:bg-green-50;
}
.btn-secondary{
    @apply text-blue-600 border-blue-600 hover:bg-blue-50;
}
.btn-warning{
    @apply text-yellow-400 border-yellow-400 hover:bg-yellow-100;
}

.btn-danger{
    @apply text-red-600 border-red-600 hover:bg-red-50;
}

.badge{
    font-size: 0.8em;
    @apply p-1.5 font-light;
}

.table{
    @apply w-full;
}

.table th{
    @apply border-b-2 border-gray-200;
}
table tbody tr{
    min-height: 3em;
    line-height: 1.5em;
}

table tbody tr td{
    @apply p-2;
}

table.header-fixed {
    position: relative;
}
table.header-fixed tr th{
    position: sticky;
    top:0;
}

table.striped tbody tr{
    @apply even:bg-gray-100;
}

table.bordered td{
    @apply border-l-2 border-r-2 border-gray-200;
}

table.bordered td:first-child{
    @apply border-l-0;
}

table.bordered td:last-child{
    @apply border-r-0;
}

.main p{
    @apply m-1;
}

.modal{
    @apply focus:outline-none rounded-2xl border-2 border-gray-200 shadow-2xl bg-white;
    position: absolute;
    margin: auto;
    display: none;
}
.modal-header{
    @apply p-3 text-center sm:text-left;
}

.modal-header h5{
    @apply text-lg leading-6 font-medium text-gray-900;
}
.model-body{
    @apply text-sm text-gray-500;
}
.modal-footer{
    @apply bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse;
}
