<header class="row">
    <div class="col s3 m2 l1"><a href="{{ path(route_return) }}" class="left btn grey lighten-1">{{ 'app.common.return_button'|trans }}</a></div>
    <div class="col s9 m10 l11"><h1>{{title}}</h1></div>
</header>
