<header class="row">
    <div class="w-2-12"><a href="{{ path(route_return) }}" class="left btn btn-default ms-3">{{ 'app.common.return_button'|trans }}</a></div>
    <div class="w-10-12 page-title"><h1>{{title}}</h1></div>
</header>
